form * {
  display: block;
  width: 80%;
  margin: 1em;
}

#checkbox {
  display:inline;

}

ul li {
  list-style: none;
  display: inline;
  margin-right: 40px;
}

header{
  background-color:bisque;
  margin: 20px;
  padding: 30px;
  width:100%;
}
